# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Django stuff:
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3

# Media and static files (optional, if you don’t want to track uploads)
media/
staticfiles/

# Environment variables
.env

# VS Code settings
.vscode/

# Mac OS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
