@tailwind base;
@tailwind components;
@tailwind utilities;

.page {
  @apply flex flex-col items-center justify-center h-[100dvh] w-[100vw];
}

.chatContainer {
  @apply w-[70%] max-w-[1000px];
}

.chatFooter {
  @apply w-full p-4 flex flex-col gap-4;
}
